<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    {{>header}}
    <div class="text-box">
        <p id='text'>This weather-fetch application was developed during a <a href="https://www.udemy.com/share/101WGiBEQTdVdQQ3g=/">NodeJS Udemy course</a> made by Andrew Mead. This application was made with technologies such as NodeJS, HTML and CSS. To fetch the data I used MapBox API to get coordinates and Darsky API to fetch the actual weather.</p>
        <p style="text-align: center;"><a href="https://github.com/summer9604/weather-web-server">Source code in Github</a></p>
    </div>
    {{>footer}}
</body>
<script src="scripts/index.js"></script>

</html>