<div id="option-div">
    <a class="option weather" href="/weather">Weather</a>
    <a class="option about" href="/about">About</a>
    <a class="option help" href="/help">Help</a>
</div>

<div class="partial">
    <h1 id='header-partial'>{{location}}</h1>
</div>